body {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

/* div.skills{
    height: 300px;
} */

table {
    margin-left: auto;
    margin-right: auto;
}

table tr td {
    padding: 10px;
}

.icon {
    /* border: 1px solid black; */
    /* border-radius: 50px; */
    /* padding: 10px; */
    width: 30px;
    height: 30px;
}

.skill-icon {
    text-align: center;
}

.interest-item {
    text-align: center;
    flex-grow: 1;
}

.interest-box {
    display: flex;
    justify-content: center;
}
